

.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.page-title{
    position: relative;
    margin-top: 100px;
    text-align: center;
}

.page-text{
    width: 50%;
    padding: 10px;
}
.page-text p {
    font-size: large;
}
.page-other{
    width: 50%;
    text-align: center;
}
.page-other img{
    width: 100%;
    height: auto;
    padding: 10px;
}

.inner-container{
    display:flex;
    flex-direction: row;
}

.part-a li {
    list-style-type: none;
    list-style-position: inside;
    color: #404040;
    font-size: 1.25em;
    font-weight: 500;
    padding-bottom: 10px;
  }

  .inner-a li{
    list-style: circle;
    list-style-position: inside;
    font-size: 0.9em;
    font-weight: 400;
    margin-left: 10px;
    color: #404040;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .prices{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    
  }

  .prices h3{
    text-transform: uppercase;
    padding: 5px;
    width: 200px;
    background: #404040;
    color: white;
    border-radius: 2px;
  }
  .prices ul{
    width: 200px;
    border: 1px solid ;
    border-radius: 5px;
    margin-top: -5px;
    padding: 10px;
  }
  .prices a{
    text-align: right;
    text-transform: uppercase;
    font-size: large;
    color: #404040;
  }

  .prices a:hover{
    color: #608dfd;
  }